<!DOCTYPE html>
<html lang="en">
<head>
  <title>Students</title>
  <% include ../partials/head %>
</head>
<body>
<section class="section">
    <div class="container">
      <% include ../partials/menu%>
        <br/><br/>
    <h1 class="title">Students Data</h1>
  <br/><br/>
  <table  class="table">
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
        <th colspan="2">Options</th>
      </tr>
      <%dataStudents.forEach((tampilanStudents)=>{%>
        <tr>
            <td><%=tampilanStudents.id%></td>
            <td><%=tampilanStudents.first_name%></td>
            <td><%=tampilanStudents.last_name%></td>
            <td><%=tampilanStudents.email%></td>
            <td><a href="student/<%=tampilanStudents.id%>/addsubject">Add Subject</a></td>
            <td><a href="student/edit/<%=tampilanStudents.id%>">Edit</a></td>
            <td><a href="student/delete/<%=tampilanStudents.id%>" onclick="return confirm('Delete this student?');">Delete</a></td>
        </tr>
     <% }, this)%>

    </table>
</body>
</html>
